* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #181818;
    border-radius: 12px;
    gap: 2rem;
    padding: 1rem;
    background-color: #0c1d38;
}

.display {
    width: 90%;
    height: 120px;
    padding: 8px;
    position: relative;
    font-family: "Time", serif;
    background-color: #435241;
    box-shadow: inset 2px 2px 12px 0 #041601;
}

.full {
    position: absolute;
    top: 5%;
    font-size: 22px;
}

.current {
    position: absolute;
    bottom: 5%;
    right: 0;
    margin-right: 1rem;
    font-size: 46px;
    font-weight: bold;
}

.sign {
    position: absolute;
    bottom: 5%;
    font-size: 3rem;
    font-weight: 900;
}

.buttons {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.buttons button{
    width: 20%;
    aspect-ratio: 1 / 1;
    outline: none;
    color: #f1f1f1;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
}

.clear {
    background-color: #da2c2c;
}

.operator, .result {
    background-color: #060e1b;
}

.digit, .dot, .back {
    background-color: #55545480;
}

.perc, .negative {
    background-color: #2a5396;
}

.head {
    font-family: "Norse", serif;
    color: #f1f1f1;
    width: 100%;
    text-align: right;
}

.head :nth-child(1) {
    font-size: 3rem;
}

.head :nth-child(2) {
    font-size: 2rem;
}

.footer {
    color: #f1f1f1;
    width: 80%;
    font-family: "Times New Roman", Times, serif;
}



/* Font: Time Font */

@font-face {
  font-family: "Time";
  src: url(./fonts/Time-Normal.ttf);
}

@font-face {
    font-family: "Norse";
    src: url(./fonts/Norse.otf);
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter.ttc);
}